# Order Service - Dev Environment values
gearify-service:
  nameOverride: order-svc

  image:
    repository: "${AWS_ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/gearify-order-svc"
    tag: "dev-latest"

  replicaCount: 1

  service:
    port: 80
    targetPort: 5014

  configMap:
    enabled: true
    data:
      ASPNETCORE_ENVIRONMENT: "Development"
      AWS_REGION: "us-east-1"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.observability-dev:4317"
      SNS_ORDER_EVENTS_TOPIC: "arn:aws:sns:us-east-1:${AWS_ACCOUNT_ID}:gearify-order-events-dev"
      SQS_PAYMENT_COMPLETED_QUEUE: "https://sqs.us-east-1.amazonaws.com/${AWS_ACCOUNT_ID}/gearify-payment-completed-queue-dev"
      SQS_PAYMENT_FAILED_QUEUE: "https://sqs.us-east-1.amazonaws.com/${AWS_ACCOUNT_ID}/gearify-payment-failed-queue-dev"
      SQS_REFUND_COMPLETED_QUEUE: "https://sqs.us-east-1.amazonaws.com/${AWS_ACCOUNT_ID}/gearify-refund-completed-queue-dev"
      SQS_SHIPPING_SHIPPED_QUEUE: "https://sqs.us-east-1.amazonaws.com/${AWS_ACCOUNT_ID}/gearify-shipping-shipped-queue-dev"
      SQS_SHIPPING_DELIVERED_QUEUE: "https://sqs.us-east-1.amazonaws.com/${AWS_ACCOUNT_ID}/gearify-shipping-delivered-queue-dev"

  externalSecrets:
    enabled: true
    refreshInterval: 1h
    secretStoreRef:
      name: aws-secrets-manager
      kind: ClusterSecretStore
    data:
      - secretKey: POSTGRES_CONNECTION_STRING
        remoteRef:
          key: gearify/dev/database/main
          property: orders_connection
      - secretKey: REDIS_CONNECTION_STRING
        remoteRef:
          key: gearify/dev/redis
          property: connection_string

  env:
    - name: SERVICE_NAME
      value: "order-svc"
    - name: ENVIRONMENT
      value: "dev"

  resources:
    limits:
      cpu: 250m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi

  serviceMonitor:
    enabled: true
    namespace: observability-dev
    interval: 30s
    path: /metrics
